<!-- Para loguearse -->
<mat-dialog-content *ngIf="hasAccount">
  <div class="login-form">
    <form action="" method="post" autocomplete="off">
      <h2>Inicio de Sesión</h2>
      <p>Por favor llena este formulario para iniciar sesión</p>
      <hr />
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <span class="fa fa-user"></span>
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="username"
            (ng-ModelChange)="username = $event"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Nombre de Usuario"
            required
          />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-lock"></i>
            </span>
          </div>
          <input
            type="password"
            class="form-control"
            name="password"
						[(ngModel)]="password"
            (ng-ModelChange)="password = $event"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Contraseña"
            required="required"
          />
        </div>
      </div>
      <div class="form-group">
        <button type="submit" (click)="login()" class="btn btn-primary btn-lg">
          Iniciar Sesión
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>

<!-- Para registrarse -->
<mat-dialog-content *ngIf="!hasAccount">
  <div class="signup-form">
    <form action="" method="post" autocomplete="off">
      <h2>Regístrese</h2>
      <p>Por favor llena este formulario para registrarte</p>
      <hr />
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <span class="fa fa-user"></span>
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="username"
            (ng-ModelChange)="username = $event"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Nombre de Usuario"
            required
          />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-paper-plane"></i>
            </span>
          </div>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="email"
            (ng-ModelChange)="email = $event"
            [ngModelOptions]="{ standalone: true }"
            id="inputEmail"
            placeholder="Email"
            required
          />
          <div class="invalid-tooltip">
            Ingrese una dirección de correo válida.
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-lock"></i>
            </span>
          </div>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="password"
            (ng-ModelChange)="password = $event"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Contraseña"
            required="required"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-lock"></i>
              <i class="fa fa-check"></i>
            </span>
          </div>
          <input
            type="password"
            class="form-control"
            name="confirm_password"
            [(ngModel)]="password2"
            (ng-ModelChange)="password2 = $event"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Confirmar Contraseña"
            required="required"
          />
        </div>
      </div>
      <div class="form-group">
        <label class="form-check-label"
          ><input type="checkbox" required="required" /> Acepto los
          <a href="#">Terminos y Condiciones</a> &amp;
          <a href="#">Políticas de Privacidad</a></label
        >
      </div>
      <div class="form-group">
        <button type="submit" (click)="register()" class="btn btn-primary btn-lg">
          Registrarse
        </button>
      </div>
    </form>
    <div class="text-center">
      Ya tienes una cuenta? <a (click)="changeLogin()">Inicia sesión</a>
    </div>
  </div>
</mat-dialog-content>
