/* You can add global styles to this file, and also import other style files */

$body-bg: #F4F5F8;
$primary: #010D27;
$secondary: #FF2454;
$font-family-base: 'poppins';

@import "~bootstrap/scss/bootstrap";